body {
    background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.header {
    width: 100%;
    text-align: center;
    margin-top: 145px;
}
.header-title {
    color: #B6DBF2;
    text-transform: uppercase;
    letter-spacing: 34px;
    font-size: 95px;
}
hr {
    background-color: #B6DBF2;
}
.header-title--text {
    color: #B6DBF2;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: bold;
    text-align: center;
}

.body-cards {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    height: 15em;

}

#body-cards__mercury {
    position: relative;
    background-color: black;
}
 #body-cards__venus {
    position: relative;
    background-color: black;
}
#body-cards__mars {
    position: relative;
    background-color: black;
}
#body-cards__jupiter {
    position: relative;
    background-color: black;
}
.img-merc {

    width: 100%;
    object-fit: fill;
}
.img-venus {
    width: 100%;

    object-fit: fill;
}
.img-mars {

    width: 100%;
    object-fit: fill;
}
.img-jupiter {

    width: 100%;
    object-fit: fill;
}